<%- include("admin-header") %>
<body>
    <form action="/adminsearch" method="post">
        <input type="text" name="carID" placeholder="Car ID">
        <input type="text" name="lastName" placeholder="Last Name">
        <input type="date" name="reservationDate" placeholder="Reservation Date">
        <button type="submit">Search</button>
    </form>
</body>
</html>


