<!-- The status of all cars on a specific day. -->
<div>
    <form action="/report2" method="post">

        <label for="pick-up-date">Pickup Date</label>
        <input type="date" id="pickupDate">

        <label for="return-date">Return Date</label>
        <input type="date" id="returnDate">


        <input type="submit">
    </form>

    
</div>